In [1]:
import os    # For file paths
import pandas as pd 
from pandas import isnull

In [2]:
# Master.csv
master = pd.read_csv(os.path.join("..", "data", "Master.csv"))
master.head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN
2,abbotge01,NaN,NaN,George,Abbott,NaN,George Henry,Preacher,67.0,153.0,...,3.0,Canada,ON,Synenham,NaN,NaN,NaN,NaN,NaN,NaN
3,abbotre01,NaN,NaN,Reg,Abbott,NaN,Reginald Stewart,NaN,71.0,164.0,...,4.0,Canada,MB,Winnipeg,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
master.shape

(7761, 31)

In [4]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [5]:
# Braces let us structure the code in a more readable way
(master["playerID"]
     .pipe(isnull)
     .value_counts())
    
# This is an alternative to:
isnull(master["playerID"]).value_counts()

False    7520
True      241
Name: playerID, dtype: int64

In [6]:
master_orig = master.copy()
master = master.dropna(subset=["playerID"])
master.shape

(7520, 31)

In [7]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [8]:
master = master.dropna(subset=["firstNHL", "lastNHL"], how="all")

In [9]:
master = master.loc[master["lastNHL"] >= 1980]
master.shape

(4627, 31)

In [ ]:
master.columns

In [10]:
columns_to_keep = ["playerID", "firstName", "lastName",
                   "pos", "birthYear", "birthMon", "birthDay",
                   "birthCountry", "birthState", "birthCity"]

master[columns_to_keep].head()
master.filter(columns_to_keep).head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [11]:
master = master.filter(regex="(playerID|pos|^birth)|(Name$)")
master.columns

Index(['playerID', 'firstName', 'lastName', 'pos', 'birthYear', 'birthMon',
       'birthDay', 'birthCountry', 'birthState', 'birthCity'],
      dtype='object')

In [12]:
def mem_mib(df):
    print("{0:.2f} MiB".format(
        df.memory_usage().sum() / (1024 * 1024)
    ))
    
mem_mib(master)
mem_mib(master_orig)

0.39 MiB
1.84 MiB

In [13]:
master["pos"].value_counts()

D      1418
C      1037
L       848
R       832
G       463
F        28
L/C       1
Name: pos, dtype: int64

In [14]:
pd.Categorical(master["pos"])

[C, L, L, D, C, ..., R, L, L, C, D]
Length: 4627
Categories (7, object): [C, D, F, G, L, L/C, R]

In [25]:
def make_categorical(df, col_name):
    df.loc[:, col_name] = pd.Categorical(df[col_name])

In [16]:
make_categorical(master, "pos")
make_categorical(master, "birthCountry")
make_categorical(master, "birthState")
mem_mib(master)

0.30 MiB

In [ ]:
master.head()

In [17]:
master = master.set_index("playerID")
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [18]:
master.to_pickle(os.path.join("..", "master.pickle"))

## Scoring.csv

In [19]:
scoring = pd.read_csv(os.path.join("..", "data", "Scoring.csv"))
mem_mib(scoring)
scoring.shape

10.87 MiB

(45967, 31)

In [20]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [21]:
def recent_nhl_only(df):
    return df[(df["lgID"] == "NHL") & (df["year"] >= 1980)]

scoring = recent_nhl_only(scoring)
scoring.shape

(28616, 31)

In [22]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [23]:
scoring = scoring.filter(regex="^(?!(Post|PP|SH)).*")
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'GWG', 'GTG', 'SOG'],
      dtype='object')

In [24]:
scoring = scoring.iloc[:, [0, 1, 3, 6, 7, 8, 9, 14]]
scoring.columns

Index(['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SOG'], dtype='object')

In [26]:
make_categorical(scoring, "tmID")
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [27]:
scoring.reset_index().head()

   index   playerID  year tmID    GP    G     A   Pts    SOG
0      0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1      1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2      2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3      3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
4      7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [29]:
scoring = scoring.reset_index(drop=True)
scoring

        playerID  year tmID    GP     G     A   Pts    SOG
0      aaltoan01  1997  ANA   3.0   0.0   0.0   0.0    1.0
1      aaltoan01  1998  ANA  73.0   3.0   5.0   8.0   61.0
2      aaltoan01  1999  ANA  63.0   7.0  11.0  18.0  102.0
3      aaltoan01  2000  ANA  12.0   1.0   1.0   2.0   18.0
4      abdelju01  2007  DET   2.0   0.0   0.0   0.0    6.0
5      abdelju01  2008  DET   2.0   0.0   0.0   0.0    2.0
6      abdelju01  2009  DET  50.0   3.0   3.0   6.0   79.0
7      abdelju01  2010  DET  74.0   7.0  12.0  19.0  129.0
8      abdelju01  2011  DET  81.0   8.0  14.0  22.0  121.0
9       abidra01  2002  PHO  30.0  10.0   8.0  18.0   52.0
10      abidra01  2002  PIT   3.0   0.0   0.0   0.0    7.0
11      abidra01  2003  PIT  16.0   3.0   2.0   5.0   35.0
12      abidra01  2005  ATL   6.0   0.0   2.0   2.0    6.0
13      abidra01  2006  NAS  13.0   1.0   4.0   5.0   12.0
14     abrahth01  1980  HAR  32.0   6.0  11.0  17.0   66.0
15     actonke01  1980  MTL  61.0  15.0  24.0  39.0  101.0
16     actonke01  1981  MTL  78.0  36.0  52.0  88.0  218.0
17     actonke01  1982  MTL  78.0  24.0  26.0  50.0  154.0
18     actonke01  1983  MTL   9.0   3.0   7.0  10.0   14.0
19     actonke01  1983  MNS  62.0  17.0  38.0  55.0  151.0
20     actonke01  1984  MNS  78.0  20.0  38.0  58.0  167.0
21     actonke01  1985  MNS  79.0  26.0  32.0  58.0  169.0
22     actonke01  1986  MNS  78.0  16.0  29.0  45.0  126.0
23     actonke01  1987  MNS  46.0   8.0  11.0  19.0   49.0
24     actonke01  1987  EDM  26.0   3.0   6.0   9.0   26.0
25     actonke01  1988  EDM  46.0  11.0  15.0  26.0   74.0
26     actonke01  1988  PHI  25.0   3.0  10.0  13.0   38.0
27     actonke01  1989  PHI  69.0  13.0  14.0  27.0   94.0
28     actonke01  1990  PHI  76.0  14.0  23.0  37.0  120.0
29     actonke01  1991  PHI  50.0   7.0  10.0  17.0   79.0
...          ...   ...  ...   ...   ...   ...   ...    ...
28586  zubruda01  2003  WAS  54.0  12.0  15.0  27.0  115.0
28587  zubruda01  2005  WAS  71.0  23.0  34.0  57.0  181.0
28588  zubruda01  2006  WAS  60.0  20.0  32.0  52.0  127.0
28589  zubruda01  2006  BUF  19.0   4.0   4.0   8.0   31.0
28590  zubruda01  2007  NJD  82.0  13.0  25.0  38.0  128.0
28591  zubruda01  2008  NJD  82.0  15.0  25.0  40.0  130.0
28592  zubruda01  2009  NJD  51.0  10.0  17.0  27.0   86.0
28593  zubruda01  2010  NJD  79.0  13.0  17.0  30.0  115.0
28594  zubruda01  2011  NJD  82.0  17.0  27.0  44.0  109.0
28595  zuccama01  2010  NYR  42.0   6.0  17.0  23.0   74.0
28596  zuccama01  2011  NYR  10.0   2.0   1.0   3.0   10.0
28597  zuckeja01  2011  MIN   6.0   0.0   2.0   2.0   10.0
28598   zukemi01  1980  STL  74.0  24.0  44.0  68.0  145.0
28599   zukemi01  1981  STL  76.0  13.0  40.0  53.0  159.0
28600   zukemi01  1982  STL  43.0   8.0  16.0  24.0   58.0
28601   zukemi01  1983  HAR  75.0   6.0  23.0  29.0   84.0
28602   zukemi01  1984  HAR  67.0   4.0  12.0  16.0   54.0
28603   zukemi01  1985  HAR  17.0   0.0   2.0   2.0    2.0
28604  zyuzian01  1997  SJS  56.0   6.0   7.0  13.0   72.0
28605  zyuzian01  1998  SJS  25.0   3.0   1.0   4.0   44.0
28606  zyuzian01  1999  TBL  34.0   2.0   9.0  11.0   47.0
28607  zyuzian01  2000  TBL  64.0   4.0  16.0  20.0   92.0
28608  zyuzian01  2001  TBL   9.0   0.0   2.0   2.0   14.0
28609  zyuzian01  2001  NJD  38.0   1.0   2.0   3.0   47.0
28610  zyuzian01  2002  NJD   1.0   0.0   1.0   1.0    0.0
28611  zyuzian01  2002  MIN  66.0   4.0  12.0  16.0  113.0
28612  zyuzian01  2003  MIN  65.0   8.0  13.0  21.0  104.0
28613  zyuzian01  2005  MIN  57.0   7.0  11.0  18.0   80.0
28614  zyuzian01  2006  CAL  49.0   1.0   5.0   6.0   36.0
28615  zyuzian01  2007  CHI  32.0   2.0   3.0   5.0   34.0

[28616 rows x 8 columns]

In [30]:

# Alternatively:
scoring.reset_index(drop=True, inplace=True)
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
4  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [31]:
scoring.to_pickle(os.path.join("..", "scoring.pickle"))

## Teams.csv

In [32]:
teams = pd.read_csv(os.path.join("..", "data", "Teams.csv"))
teams.shape

(1519, 27)

In [33]:
teams.columns

Index(['year', 'lgID', 'tmID', 'franchID', 'confID', 'divID', 'rank',
       'playoff', 'G', 'W', 'L', 'T', 'OTL', 'Pts', 'SoW', 'SoL', 'GF', 'GA',
       'name', 'PIM', 'BenchMinor', 'PPG', 'PPC', 'SHA', 'PKG', 'PKC', 'SHF'],
      dtype='object')

In [34]:
teams = recent_nhl_only(teams)
teams = teams[["year", "tmID", "name"]]
teams.head()

     year tmID                 name
727  1980  BOS        Boston Bruins
728  1980  BUF       Buffalo Sabres
729  1980  CAL       Calgary Flames
730  1980  CHI  Chicago Black Hawks
731  1980  COR     Colorado Rockies

In [35]:
teams.nunique()

year    31
tmID    37
name    37
dtype: int64

In [36]:
make_categorical(teams, "tmID")

In [37]:
teams.to_pickle(os.path.join("..", "teams.pickle"))

## TeamSplits.csv

In [38]:
team_splits = pd.read_csv(os.path.join("..", "data", "TeamSplits.csv"))
team_splits.shape

(1519, 43)

In [39]:
team_splits.columns

Index(['year', 'lgID', 'tmID', 'hW', 'hL', 'hT', 'hOTL', 'rW', 'rL', 'rT',
       'rOTL', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL', 'OctT',
       'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL', 'DecT',
       'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL', 'FebT',
       'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL', 'AprT',
       'AprOL'],
      dtype='object')

In [40]:
team_splits = recent_nhl_only(team_splits)

In [41]:
cols_to_drop = team_splits.columns[3:11]
team_splits = team_splits.drop(columns=cols_to_drop)
team_splits.columns
# some_data_frame.drop(rows=row_labels) <- to drop rows

Index(['year', 'lgID', 'tmID', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL',
       'OctT', 'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL',
       'DecT', 'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL',
       'FebT', 'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL',
       'AprT', 'AprOL'],
      dtype='object')

In [42]:
team_splits = team_splits.drop(columns="lgID")

In [43]:
make_categorical(team_splits, "tmID")
team_splits.to_pickle(os.path.join("..", "team_splits.pickle"))